body
{
    background-color: cornflowerblue;
}

.f1,.f3,.f5
{
    display: flex;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
 
}

img
{
    display: flex;
    padding-left: 410px;
    padding-right: 410px;
    border-bottom: 20px;
    padding-bottom: 50px;
}

.f3{
    justify-content: space-evenly;
    padding-bottom: 50px;
}

.feed
{
    display: flex;
    justify-content: space-evenly;
}